@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';


html, body {
  font-family: 'Poppins', sans-serif;
}

/* This must be outside of @tailwind block */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #38bdf8; /* sky-400 */
}
::-webkit-scrollbar-track {
  background-color: #e0f2fe; /* sky-100 */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #003B73; /* sky-100 */
}

.text-primary {
  color: #38bdf8; /* sky-400 */
}